Source/.vs/
gamedata/shaders/r5/.vs/
_appdata_/
_appdata_cs_/
/Bin/
Intermediate/
/Lib/
import/
#rawdata/
rawdata/backup/
rawdata/groups/
rawdata/levels/
rawdata/objects/
rawdata/particles/
rawdata/sounds/
rawdata/textures/
rawdata/*.dti
logs/
temp/
#gamedata
gamedata_cs/
gamedata/*.*
gamedata/ai/
gamedata/anims/
gamedata/configs/
gamedata/levels/
gamedata/meshes/
gamedata/scripts/
gamedata/shaders/r1/
gamedata/shaders/r2/
gamedata/shaders/r3/
gamedata/shaders/shared/
gamedata/sounds/
gamedata/spawns/
gamedata/textures/
/*.ini
*.vcxproj.user